{{define "title"}}
Dig
{{end}}
{{define "content"}}
<div class="text-center">
  <h1>Hello, Dig!</h1>
  <h1>{{.Title}}</h1>
  <h2>{{.Body}} {{if .Success}}A{{else}}B{{end}}</h2>
  <br>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col py-3 px-lg-5 border bg-light">
        <form method="POST">
            <div class="form-group">
                <label for="location">Location</label>
                <select class="form-control" name="location">
                <option>Boston</option>
                <option>Los Angeles</option>
                <option>London</option>
                <option>Tokyo</option>
                <option>Sydney</option>
                </select>
            </div>
            <div class="form-group">
                <label for="hostname">Hostname</label>
                <input class="form-control" name="hostname" placeholder="Enter hostname">
            </div> 
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
  </div>
  <div class="row">
    <pre><code>
      {{.Body}}
    </code></pre>
  </div>
</div>
{{end}}