{{define "title"}}
Hello Edge DNS!
{{end}}
{{define "content"}}
{{if .Display}}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
  <strong>{{.Message}}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{end}}
<div class="text-center">
    <h1>Hello, Edge DNS!</h1>
    <br>
</div>
<div class="container">
    <div class="row justify-content-center">
      <div class="col" align="center">
        <a class="btn btn-primary" href="/dnshits" role="button">Show GTM DNS Requests over Time</a>
      </div>
      <div class="col" align="center">
        <a class="btn btn-primary" href="/dig" role="button">Dig from a Location in the World</a>
      </div>
      <div class="col" align="center">
        <a class="btn btn-primary" href="/demo?param1=value1&param2=value2" role="button">Demo 3 Demo 3 Demo 3</a>
      </div>
    </div>
    <div class="row mt-3 justify-content-center">
      <div class="col" align="center">
        <a class="btn btn-primary" href="/demo?param1=value1&param2=value2" role="button">Demo 4 Demo 4 Demo 4</a>
      </div>
      <div class="col" align="center">
        <a class="btn btn-primary" href="/demo?param1=value1&param2=value2" role="button">Demo 5 Demo 5 Demo 5</a>
      </div>
    </div>
</div>
{{end}}
